.home-container {
  width: 100%;
}

.home-container .ant-space-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-container-box {
  justify-content: center;
  max-width: 500px;
  width: 100%;
}

.upwords-table .ant-table-header .ant-table-cell {
  padding: 4px 4px;
}
